.navbar-brand {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin: 0;
}
